/* Education Section */
#education {
    background: linear-gradient(to top, rgba(51, 51, 51, 0.7) 0%, rgba(255, 140, 0, 0.5) 50%, rgba(255, 239, 213, 0.2) 100%);
    background-size: cover;
    padding: 7em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
#education .education-item {
    background-color: #000000e6;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 2rem;
}

#education a {
    font-size: 1.2em;
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
    padding-top: 18px;
    display: inline-block;
}

#education a:hover{
    color: #0056b3;
}

#education h2 {
    color: black;
}

#education .container {
    color: white;
}