        <!-- Education Section -->
        <section id="education">
            <div class="container">
                <h2 data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-out-cubic">EDUCATION</h2>
                <div class="education-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <a href="https://www.unt.edu/" target="_blank">University of North Texas</a>
                    <p>Master of Science in Computer Science | June 2024</p>
                    <p><strong>Relevant Courses: </strong>Computer Networks, Software Engineering, Big Data, <br> Computer Algorithms, Database Management Systems</p>
                    <p><strong>Experience: </strong>University It Website developer</p>
                    <p><strong>Extracurricular Activities: </strong>Member of AI Club</p>
                </div>
                <div class="education-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                    <a href="https://www.sastra.edu/" target="_blank">Sastra University</a>
                    <p>Bachelor of Technology in Electronics and Communication Engineering | May 2020</p>
                    <p><strong>Relevant Courses: </strong>Data Visulization, Computer Networks, Programming Languages</p>
                    <p><strong>Achievements: </strong>Recipient of the National Scholarship Scheme and subject topper in VLSI</p>
                    <p><strong>Extracurricular Activities: </strong>Member of SEEE, Coding Club Member</p>
                </div>
            </div>
        </section>