<nav class="nav" id="nav">
    <div class="container">
        <a href="#home" class="logo">Akhil Charugulla</a>
        <button id="mobile-menu-icon" class="mobile-menu-btn" onclick="toggleMenu()">☰</button>
        <ul class="nav-menu" id="nav-menu">
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#experience">Experience</a></li>
            <li><a href="#education">Education</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#project">Projects</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>
</nav>