/* Footer */
footer {
    background-color: rgb(12, 12, 12);
    color: #fff;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em; /* Slightly smaller font size */
    line-height: 1.2; /* Reduced line height */
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 1px 0; 
}

footer ul li {
    display: inline;
    margin: 0 10px; 
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}