    <!-- About Section -->
    <section id="about" class="parallax1">
        <div class="container">
            <div class="hero-content">
                <h2 data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-out-cubic">ABOUT ME</h2>
                <p data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200"> Hi, I'm Akhil Charugulla, a Software engineer with a passion for crafting innovative solutions and exploring the realms of Software Development. With a master's in Computer Science and a knack for problem-solving, I thrive on turning complex challenges into elegant, efficient code!</p>
            </div>
        </div>
    </section>