    <!-- Skills Section -->
    <section id="skills" class="skills">
        <div class="container">
            <h2 data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-out-cubic">TECHNICAL SKILLS</h2>
            <div class="row">
                <div class="skill-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <div class="card">
                        <h3>Programming Languages</h3>
                        <p>Java, C++, JavaScript, Es6+, TypeScript, Nodejs, Python</p>
                    </div>
                </div>
                <div class="skill-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <div class="card">
                        <h3>Technologies/Frameworks</h3>
                        <p>Spring, Spring Boot, RESTful APIs, Hibernate, Angular, AngularJS, ReactJs, ExpressJs, Cucumber, Thymeleaf, Drupal, CI/CD, Aws</p>
                    </div>
                </div>
                <div class="skill-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                    <div class="card">
                        <h3>Knowledge In</h3>
                        <p>Maven, Gradle, Spring Security, OAuth2, Splunk, Swagger, Microservices, Kafka, Docker, Selenium, Json, GraphQL, gRPC, Xml, Html, Css, SASS, Agile, Bootstrap, Jsp</p>
                    </div>
                </div>
                <div class="skill-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <div class="card">
                        <h3>Databases</h3>
                        <p>Oracle, MySQL, MongoDB, Redis, Solr</p>
                    </div>
                </div>
                <div class="skill-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                    <div class="card">
                        <h3>Other Tools</h3>
                        <p>Git, GitLab, Svn, Jira, HP-Fortify, ServiceNow, Jenkins, Postman, Eclipse, STS, IntelliJ, Visual Studio,
                            Tomcat, Kibana, Scalyr, UCD, Kubernetes, SonarQube, MS-Office
                        </p>
                    </div>
                </div>
                <div class="skill-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300">
                    <div class="card" style="padding-right: 100px;">
                        <h3>Operating Systems</h3>
                        <p>Linux, Windows, Android</p>
                    </div>
                </div>
            </div>
        </div>
    </section>