/* Hero Section */
#home {
    //background-color: #fff;
    background: linear-gradient(
        to bottom,
        rgb(255, 255, 255, 0.9) 90%,
        rgba(255, 255, 255, 0.9) 90%,
        rgba(255, 255, 255, 0) 100%
      );
      
    background: cover;
    color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

#home.parallax {
    background-attachment: fixed;
}

#home .hero-content {
    position: relative;
    z-index: 1;
}

#home .hero-image {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#home .hero-image img {
    width: 100%;
    height: auto;
}

#home .btn {
    background: black;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    transition: background 0.3s ease;
}

#home .btn:hover {
    background: #0056b3;
}

#home .container h1 {
    font-size: 60px;
    margin-bottom: 10px;
}

#home .container p {
    margin-bottom: 25px;
}

@media (max-width: 768px) {
    #home .container h1 {
        font-size: 40px;
    }
    
    #home .container p {
        font-size: 16px;
        margin-bottom: 15px;
    }

    #home .hero-image {
        width: 100px;
        height: 100px;
    }
}





