    <!-- Hero Section -->
    <section id="home" class="parallax">
        <div class="container">
            <div class="hero-content">
                <div class="hero-image">
                    <img src="../../assets/Akhil/Akhil-Profile-pic.jpg" alt="Akhil Charugulla" />
                </div>
                <h1 class="animate__animated animate__fadeInDown" data-aos="fade-down" data-aos-easing="ease-out-cubic" data-aos-duration="1000">Welcome to my portfolio</h1>
                <p class="animate__animated animate__fadeInUp" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="1200" data-aos-delay="200">I am Akhil Charugulla, a skilled Software Developer</p>
                <a href="assets/Akhil/AkhilCharugulla.pdf" target="_blank" class="btn" data-aos="zoom-in" data-aos-duration="1200" data-aos-delay="400">View My Resume</a>
            </div>
        </div>
    </section>